body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  
}

.card {
  position: relative; 
  padding-bottom: 60px; 
}


.full-width-button {
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
  justify-content: center;

}

.gps-button {

  margin-bottom: 50px;
  margin: auto;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px; 
}

.gps-button button {

  margin-bottom: 50px;
  margin: auto;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; 
}

.full-width-button-addtasks {

  margin-bottom: 50px;
  margin: auto;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px; 
}

.full-width-button-addtasks button {

  margin-bottom: 50px;
  margin: auto;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; 
}

.full-width-button-suppliers {

  margin-bottom: 50px;
  margin: auto;
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px; 
  text-align: center;
}

.full-width-button-suppliers button {

  margin-bottom: 50px;
  margin: auto;
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; 
  text-align: center;
}

.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #f1f1f1;
  border-top: 0px solid #ccc;
  justify-content: space-between;
}

.card-footer-P1 {

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
  border-top: 0px solid #ccc;
  justify-content: space-between;
  text-align: center;

}

.card-footer-P1 button {

  margin-bottom: 50px;
  margin: auto;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px; 
}

.card-footer button {
    margin-bottom: 50px;
    margin: 0 20px;
    width: 170px;
    height: 80px;
}

.yes-no-options {
  text-align: center;
}

/* .yes-no-options label {
  font-size: 1.5em;
}
*/


h2 {
  color: #333;
  margin-bottom: 20px;
  text-align:center;
  font-style:bold;
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin-right: 5px;
}


button {
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;

} 

button:hover {
  background-color: #4cae4c;
}

@media (max-width: 600px) {
  .card {
      margin: 20px;
  }
}
