body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  
}

.card {
  position: relative; 
  padding-bottom: 60px; 
}


.full-width-button {
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
  justify-content: center;

}

.gps-button {

  margin-bottom: 50px;
  margin: auto;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px; 
}

.gps-button button {

  margin-bottom: 50px;
  margin: auto;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; 
}

.full-width-button-addtasks {

  margin-bottom: 50px;
  margin: auto;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px; 
}

.full-width-button-addtasks button {

  margin-bottom: 50px;
  margin: auto;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; 
}

.full-width-button-suppliers {

  margin-bottom: 50px;
  margin: auto;
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px; 
  text-align: center;
}

.full-width-button-suppliers button {

  margin-bottom: 50px;
  margin: auto;
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px; 
  text-align: center;
}

.card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  background-color: #f1f1f1;
  border-top: 0px solid #ccc;
  justify-content: space-between;
}

.card-footer-P1 {

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
  border-top: 0px solid #ccc;
  justify-content: space-between;
  text-align: center;

}

.card-footer-P1 button {

  margin-bottom: 50px;
  margin: auto;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px; 
}

.card-footer button {
    margin-bottom: 50px;
    margin: 0 20px;
    width: 170px;
    height: 80px;
}

.yes-no-options {
  text-align: center;
}

/* .yes-no-options label {
  font-size: 1.5em;
}
*/
input[type="file"] {
  border: 1px solid #ccc;
  display: block;
  margin-bottom: 10px;
}

/* Container for image previews */
.preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

/* Individual image preview box */
.image-preview {
  border: 1px solid #ddd;
  padding: 5px;
  position: relative;
}

/* Style for the image displayed */
.image-preview img {
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin-bottom: 5px;
}

/* Delete button styling */
.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #ff4d4d;
  color: white;
  border: none;
  cursor: pointer;
  padding: 2px 6px;
}

/* Hover effect for delete button */
.delete-btn:hover {
  background-color: #ff1a1a;
}

h2 {
  color: #333;
  margin-bottom: 20px;
  text-align:center;
  font-style:bold;
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin-right: 5px;
  transform: scale(2.5);
}

.radio-group {
  display: flex;
  justify-content: center;
  gap: 60px; /* Adjusts the space between the radio buttons */
  margin-bottom: 20px;
}

.radio-option {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radio-text {
  margin-bottom: 15px;
  font-size: 2em;
  /* Space between the text and the radio button */
}

input[type="radio"] {
  transform: scale(2.5); /* Enlarges the radio buttons */
}


button {
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;

} 

.preview-container { margin-top: 20px; }
img { max-width: 100%; max-height: 200px; }

button:hover {
  background-color: #4cae4c;
}

@media (max-width: 600px) {
  .card {
      margin: 20px;
  }
}

/* page 1 */
#name {

  width: 100%;
  height: 70px;
  font-size: 25px;
}

/* Page 2 */
#address {
  width: 100%;
  height: 70px;
  font-size: 25px;
}

/* Page 5 */
#invoices {
  width: 100%;
  heigth: 70px;
  font-size: 25px; 
}

#supplier1 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}

#supplier2 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}
#supplier3 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}

#supplier4 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}
#supplier5 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}
#supplier6 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}
#supplier7 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}
#supplier8 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}
#supplier9 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}

/* Page 3 */
#task1 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}
#task2 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}
#task3 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}
#task4 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}
#task5 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}
#task6 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}
#task7 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}
#task8 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}
#task9 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}
#task10 {
  width: 100%;
  height: 70px;
  font-size: 25px;
}

/* Page 7 */
#return {
  width: 100%;
  height: 100px;
  font-size: 25px;
  resize: none;
  overflow: hidden;
}




