body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  
}

.card {
  position: relative; /* Set the .card to position relative */
  padding-bottom: 60px; /* Add padding at the bottom to make space for the footer */
}

.card-footer {
  position: absolute; /* Position the footer at the bottom */
  bottom: 0; /* Align the footer to the bottom */
  width: 100%; /* Make the footer full width */
  height: 50px; /* Set a fixed height for the footer */
  display: flex; /* Use flexbox for easy horizontal centering */
  align-items: center; /* Center the content vertically */
  justify-content: center; /* Center the content horizontally */
  background-color: #f1f1f1; /* Give the footer a background color */
  border-top: 1px solid #ccc; /* Add a top border for visual separation */
}

h2 {
  color: #333;
  margin-bottom: 20px;
  text-align:center;
  font-style:bold;
}

input[type="text"],
input[type="number"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="radio"] {
  margin-right: 5px;
}

button {
  background-color: #5cb85c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;

}

button:hover {
  background-color: #4cae4c;
}

/* Add a bit of responsiveness */
@media (max-width: 600px) {
  .card {
      margin: 20px;
  }
}
